.panelLeftContainer {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem;
    margin-left: 1rem;

}

.currentBall {
    background-color: rgba(253, 255, 255, 0.637);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    min-width: 267px;

    &>img {
        position: relative;
    }

    &>h1 {
        position: absolute;
        font-size: 4.5em;
        color: #000;
        font-weight: bold;
        margin: auto;
    }
}

.previousBalls {
    background-color: rgba(253, 255, 255, 0.637);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    border-radius: 15px;
    padding: 10px;
    min-width: 267px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.startButton {
    display: block;
    cursor: pointer;
    padding: 1em 2.1em 1.1em;
    border: none;
    border-radius: 50em;
    width: 100%;
    margin-right: 1em;
    max-width: 26em;
    color: #fbdedb;
    background-color: #fbdedb;
    background-color: #7319a7;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-family: sans-serif;
    font-weight: 800;
    font-size: .85em;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    position: relative;


    &:hover {
        background-color: #5a088a
    }

    &:active {
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }
}

.resetButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50px;
    padding: .8em 1em;
    font-size: 1em;
    color: #fff;
    background-color: #6a1387;
    cursor: pointer;
    -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;

    &:hover {
        background-color: #5a088a
    }

    &:active {
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }
}


@media screen and (max-width: 902px) {
    .panelLeftContainer {
        gap: 10px;
        margin-top: 1.2em;
    }

    .currentBall {
        max-width: 200px;
        min-width: 0;

        &>h1 {
            font-size: 3.3em;
        }
    }

    .previousBalls {
        max-width: 230px;
        min-width: 0;
    }

    .startButton {
        max-width: 14.5em;

    }
}