.App {
    height: 100vh;
    width: 100vw;
    background-image: url(./assets/img/11761.jpg);
    background-position: center;
    background-repeat: no-repeat;
    color: #ffff;
    background-size: cover;
    display: grid;
    overflow: hidden;
    grid-template-columns: 30% 70%;
    
  }
  
  
@media screen and (max-width: 902px) {
  .App {
  grid-template-rows: 44% 56%;
  grid-template-columns: 1fr;
  }
}